	/* font reference:
	'Percolator' = title
	'Bodoni SvtyTwo ITC TT' = headers
	'Cormorant Garamond' = text
	HEADER URL IS https://imgur.com/DJ3KxdD.png
	FOOTER URL IS https://imgur.com/FNL9mcz.png
*/

	/* #region DEFAULT ELEMENT STYLES */
	/* #region ... General */
	div, span, img, input, textarea, select {
		width: 100%;
		margin: 0px 0px;
		padding: 0px 0px;
		vertical-align: top;
		text-align: left;
		text-align-last: left;
		line-height: 25px;

		font-size: 0px;

		display: inline-block;
		box-sizing: border-box;
		resize: none;

		background: none;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;

		border: none;
	}
	input, textarea, select {
		font-size: 16px;
		text-indent: 2px;		
	}
	select option {
		color: black !important;
		text-shadow: none !important;
	}
	div.sheet-loadingbay,
	div.sheet-loadingbay img {
		height: 1px;
		width: 1px;
		margin-bottom: -1px;
	}
	/* #endregion */
	/* #region ... Wrapper (.charsheet) */
	.charsheet {
		width: 884px;
		margin-left: -32px;
		padding: 0px 0px !important; /* !IMP to override inaccessible Roll20 settings. */

		background-image: url('https://imgur.com/cEhqqBG.png');
		background-repeat: repeat-y;
	}
	/* #endregion */
	/* #region ... Textarea */
	.charsheet textarea {
		padding: 3px 5px;
		pointer-events: none;
	}
	/* #endregion */
	/* #region ... Select */
	.charsheet select {
		-webkit-appearance: none;
		background: url('https://i.imgur.com/XGlqfRG.png') no-repeat right;
		background-size: 15px 10px;
		padding-right: 5px;
	}
	.charsheet select option {
		color: black !important;
		text-shadow: none !important;
	}
	/* #endregion */
	/* #endregion */

	/* #region GRID LAYOUT */
	.charsheet, div[class*="grid"] {
		display: grid !important; /* !IMP to override inaccessible Roll20 settings. */ 

		position: relative;
		z-index: 1;
	}
	/* #region Top Level Grid, Navbar, DiceRoller, Marquee */
	.charsheet {
		grid-template-columns: 28px auto 28px;
		grid-template-areas:
			'mainheader mainheader mainheader'
			'. navbar .'
			'. marquee .'
			'. mainbody .'
			'mainfooter mainfooter mainfooter';
	}

	div.sheet-mainheader {
		grid-area: mainheader;
		height: 250px;
		margin-bottom: -150px;

		background-image: url('https://imgur.com/DJ3KxdD.png');
		/* height: 250px;
		max-height: 200px;
		display: block; */
	}
	div.sheet-navbar {
		grid-area: navbar;
		height: 40px;	
	}
	div.sheet-navbar.sheet-vamp,
	div.sheet-navbar.sheet-mortal,
	div.sheet-navbar.sheet-npc {
		grid-template-areas: 'tab1 tab2 tab3 tab4 tab5 tab6 tab9';
	}
	div.sheet-navbar.sheet-group {
		grid-template-areas: 
			'. tab0 .'
			'tab1 tab2 tab3'
			'tab4 tab5 tab6'
			'tab7 tab8 tab9';
	}
	
	div.sheet-marquee {
		grid-area: marquee;
		grid-template-rows: 30px 16px 16px 16px;
		grid-template-areas: 
			'title'
			'line1'
			'line2'
			'line3';
		height: auto;
	}

	div.sheet-mainbody {
		grid-area: mainbody;
		grid-auto-rows: 24px;
	}

	div.sheet-mainfooter {
		grid-area: mainfooter;
		height: 250px;
		margin-top: -150px;

		background-image: url('https://imgur.com/FNL9mcz.png');
	}
	/* #endregion */
	/* #region Various Grid Layouts */
	.sheet-header {grid-area: header}
	.sheet-spacer {grid-area: spacer; grid-column: span 1; grid-row: span 1;}
	.sheet-charname {grid-area: charname;}
	.sheet-chardates {grid-area: chardates;}

	.sheet-col {grid-area: col; grid-column: span 1; grid-row: span 1;}
	.sheet-2cols {grid-area: col2grid; grid-template-columns: auto auto;}
	.sheet-3cols {grid-area: col3grid; grid-template-columns: auto auto auto;}
	.sheet-4cols {grid-area: col4grid; grid-template-columns: auto auto auto auto;}
	.sheet-5cols {grid-area: col5grid; grid-template-columns: auto auto auto auto auto;}
	.sheet-6cols {grid-area: col6grid; grid-template-columns: auto auto auto auto auto auto;}
	
	.sheet-4colsthin {grid-area: col4thin; margin-left: 15%; grid-template-columns: 17.5% 17.5% 17.5% 17.5%;}
	/* #endregion */
	/* #endregion */

	/* #region Generally Applicable Styles */
	.sheet-center {
		text-align: center;
		text-align-last: center;
	}
	/* #region Font Styles & Sizes */
	.sheet-size5 { font-size: 40px; }
	.sheet-size4 { font-size: 24px; }
	.sheet-size3 { font-size: 20px; }
	.sheet-size2 { font-size: 16px; }
	.sheet-size1 { font-size: 12px; }

	.sheet-engraved { 
		font-family: 'Trajan Pro 3';
		font-weight: normal;
		font-variant: small-caps;
	}
	.sheet-percolator {
		font-family: 'Percolator';
		font-weight: normal;
		font-variant: small-caps;
		margin-top: 2px;
		margin-bottom: -2px;
	}
	.sheet-cormorant {
		font-family: 'Cormorant Garamond';
		font-weight: normal;
		font-variant: small-caps;
	}

	.sheet-insettext {
		color: rgba(255, 255, 255, 0.5);
		text-shadow: -1px -1px 0px #000, -1px -1px 0px #333, -1px -1px 2px #666, 1px 1px 0px #ddd, 1px 1px 0px #ddd, 1px 1px 2px #ccc;
	}

	/* #endregion */

	/* #endregion */

	/* #region Hover-Over Popups */
	input.sheet-popup {
		height: 100%;
		width: 25px;
		margin-left: -30px;
		opacity: 0;
	}
	input.sheet-popup+span {
		height: 100%;
		width: 25px;
		margin-left: -25px;
		margin-right: 5px;
		background-color: blue;
	}
	input.sheet-popup:hover+span {
		background-color: red;
	}
	input.sheet-popup+span+div.sheet-popup {
		display: none;
	}
	/* #endregion */

	/* #region VAMP PAGE 1 */
	div.sheet-mainbody.sheet-vamp.sheet-page1 {
		grid-template-rows: 46px 30px auto 50px auto 20px auto;
		grid-template-areas:
			'charname charname charname charname charname charname'
			'chardates chardates chardates chardates chardates chardates'
			'col4thin col4thin col4thin col4thin col4thin col4thin'
			'diceroller diceroller diceroller diceroller diceroller diceroller '
			'col4grid col4grid col4grid col4grid col4grid col4grid'
			'header header header header header header'
			'col3grid col3grid col3grid col3grid col3grid col3grid';		
	}

	/* #endregion

/* ==================================================================================================== */

	/* #region SHEET & PAGE SELECTORS */

	/* Initialize three top-level grid containers and settings page controller to invisible. */
	.charsheet .sheet-settings,
	.charsheet .sheet-vamp,
	.charsheet .sheet-mortal,
	.charsheet .sheet-npcvamp,
	.charsheet .sheet-npcmortal,
	.charsheet .sheet-npcother,
	.charsheet .sheet-npcgroup {
		display: none;
	}

	.charsheet .sheet-navbar {
		display: none !important;
	}

	/* Activate the appropriate character sheet and navbar according to sheet controller. */
	.charsheet input[type=hidden].sheet-sheetcontrol[value="1"]~.sheet-toplevel.sheet-vamp,
	.charsheet input[type=hidden].sheet-sheetcontrol[value="2"]~.sheet-toplevel.sheet-mortal,
	.charsheet input[type=hidden].sheet-sheetcontrol[value="3"]~.sheet-toplevel.sheet-npcvamp,
	.charsheet input[type=hidden].sheet-sheetcontrol[value="4"]~.sheet-toplevel.sheet-npcmortal,
	.charsheet input[type=hidden].sheet-sheetcontrol[value="5"]~.sheet-toplevel.sheet-npcother,
	.charsheet input[type=hidden].sheet-sheetcontrol[value="6"]~.sheet-toplevel.sheet-group, {
		display: grid;
	}
	
	/* Activate the appropriate page based on the navbar's page control. */
	/* Single character sheet pages. */
	.charsheet input[type=hidden].sheet-pagecontrol[value="1"]~.sheet-toplevel > .sheet-page1,
	.charsheet input[type=hidden].sheet-pagecontrol[value="2"]~.sheet-toplevel > .sheet-page2,
	.charsheet input[type=hidden].sheet-pagecontrol[value="3"]~.sheet-toplevel > .sheet-page3,
	.charsheet input[type=hidden].sheet-pagecontrol[value="4"]~.sheet-toplevel > .sheet-page4,
	.charsheet input[type=hidden].sheet-pagecontrol[value="5"]~.sheet-toplevel > .sheet-page5,
	.charsheet input[type=hidden].sheet-pagecontrol[value="6"]~.sheet-toplevel > .sheet-page6,
	.charsheet input[type=hidden].sheet-pagecontrol:not([value="0"]):not([value="9"])~.sheet-toplevel > .sheet-marquee,
	.charsheet input[type=hidden].sheet-pagecontrol:not([value="0"]):not([value="9"])~.sheet-toplevel > .sheet-diceroller,
	.charsheet input[type=hidden].sheet-pagecontrol[value="9"]~.sheet-toplevel > [class*="page"]
	/* Group character sheet pages. */	
	.charsheet input[type=hidden].sheet-pagecontrol[value="10"]~.sheet-toplevel > .sheet-mainpage,
	.charsheet input[type=hidden].sheet-pagecontrol[value="21"]~.sheet-toplevel > .sheet-char1,
	.charsheet input[type=hidden].sheet-pagecontrol[value="22"]~.sheet-toplevel > .sheet-char2,
	.charsheet input[type=hidden].sheet-pagecontrol[value="23"]~.sheet-toplevel > .sheet-char3,
	.charsheet input[type=hidden].sheet-pagecontrol[value="24"]~.sheet-toplevel > .sheet-char4,
	.charsheet input[type=hidden].sheet-pagecontrol[value="25"]~.sheet-toplevel > .sheet-char5,
	.charsheet input[type=hidden].sheet-pagecontrol[value="26"]~.sheet-toplevel > .sheet-char6,
	.charsheet input[type=hidden].sheet-pagecontrol[value="27"]~.sheet-toplevel > .sheet-char7,
	.charsheet input[type=hidden].sheet-pagecontrol[value="28"]~.sheet-toplevel > .sheet-char8,
	.charsheet input[type=hidden].sheet-pagecontrol[value="29"]~.sheet-toplevel > .sheet-char9 {
		display: grid;
	}

	/* Handle special case for settings sheet/page hybrid: It's controlled by sheet-specific page
	controllers, but must be available to all sheets. */
	.charsheet input[type=hidden].sheet-pagecontrol[value="0"]~.sheet-sheet {
		display: none;
	}
	.charsheet input[type=hidden].sheet-pagecontrol[value="0"]~.sheet-settings {
		display: grid;
	}

	/* Format the Tabs Themselves */
	.charsheet input.sheet-pageselector {
		margin-right: -100%;
		opacity: 0;
		cursor: pointer;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab1:not(.sheet-selectable) + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab1:not(.sheet-selectable) + span {
		background: url('https://imgur.com/n9ZUm0N.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab1:not(.sheet-selectable):checked + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab1:not(.sheet-selectable):checked + span {
		background: url('https://imgur.com/UKf9Utd.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab2:not(.sheet-selectable) + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab2:not(.sheet-selectable) + span {
		background: url('https://imgur.com/Huyeyla.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab2:not(.sheet-selectable):checked + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab2:not(.sheet-selectable):checked + span {
		background: url('https://imgur.com/7X0Yd7L.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab3:not(.sheet-selectable) + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab3:not(.sheet-selectable) + span {
		background: url('https://imgur.com/Jd3cDeh.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab3:not(.sheet-selectable):checked + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab3:not(.sheet-selectable):checked + span {
		background: url('https://imgur.com/ohn2ui6.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab4:not(.sheet-selectable) + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab4:not(.sheet-selectable) + span {
		background: url('https://imgur.com/SjbaEvs.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab4:not(.sheet-selectable):checked + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab4:not(.sheet-selectable):checked + span {
		background: url('https://imgur.com/jfwuABe.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab5:not(.sheet-selectable) + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab5:not(.sheet-selectable) + span {
		background: url('https://imgur.com/0tZn5fi.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab5:not(.sheet-selectable):checked + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab5:not(.sheet-selectable):checked + span {
		background: url('https://imgur.com/hzE9fjl.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab6:not(.sheet-selectable) + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab6:not(.sheet-selectable) + span {
		background: url('https://imgur.com/Fe8tW8v.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab6:not(.sheet-selectable):checked + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab6:not(.sheet-selectable):checked + span {
		background: url('https://imgur.com/c29Guhd.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab9:not(.sheet-selectable) + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab9:not(.sheet-selectable) + span {
		background: url('https://imgur.com/59zUk2e.png') no-repeat center;
	}
	.charsheet .sheet-vamp input[type=radio].sheet-tab9:not(.sheet-selectable):checked + span,
	.charsheet .sheet-mortal input[type=radio].sheet-tab9:not(.sheet-selectable):checked + span {
		background: url('https://imgur.com/lI1fhK7.png') no-repeat center;
	}





	/* #region TESTING (COLORS) */
	div.sheet-mainbody div.sheet-header {
		grid-area: header;
		background-color: rgba(255, 0, 0, 0.3);
	}
	div.sheet-mainbody div.sheet-blank {
		grid-area: blank;
	}
	div.sheet-mainbody div.sheet-titlecolleft {
		grid-area: titlecolleft;
		background-color: rgba(255, 255, 0, 0.3);
	}
	div.sheet-mainbody div.sheet-titlecolright {
		grid-area: titlecolright;
		background-color: rgba(255, 0, 255, 0.3);
	}
	div.sheet-mainbody div.sheet-fourcolgrid {
		grid-area: fourcolgrid;
		background-color: rgba(0, 255, 0, 0.3);
	}
	div.sheet-mainbody div.sheet-col3left {
		grid-area: col3left;
		background-color: rgba(255, 0, 0, 0.3);
	}
	div.sheet-mainbody div.sheet-col3mid {
		grid-area: col3mid;
		background-color: rgba(0, 255, 0, 0.3);
	}
	div.sheet-mainbody div.sheet-col3right {
		grid-area: col3right;
		background-color: rgba(0, 0, 255, 0.3);
	}
	/* #endregion */
